<div class="row palestra-corporativa-header">
    <img src="../Content/images/corporativa-icon.png" class="aulas-icon" alt="" />
    <p>
        Comece preenchendo esses 3 itens, se tiver dúvidas sobre o preenchimento ou quiser ver exemplos,
        <label class="label label-primary" style="background-color: #999933">clique no "?"</label>
    </p>
    <img src="../Content/images/coruja.png" class="coruja-icon" alt="" />
</div>

<form>
    <div class="form-group">
        <h4>Qual região pode ser atendida?</h4>
        <div class="panel panel-warning">
            <div class="panel-body">
                <div class="form-group">
                    <label>Estado de:</label>
                    <select class="form-control" data-live-search="true"
                            ng-model="anuncio.EstadoId"
                            select-model="estados"
                            ng-collection="estados"
                            ng-options="item.Id as item.Nome for item in estados"
                            data-selectpicker data-style="btn btn-default btn-sm"
                            ng-change="carregarCidades()">
                        <option value="">Selecione...</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="panel panel-warning" ng-show="anuncio.EstadoId">
            <div class="panel-body">
                <div class="form-group">
                    <label>Cidade de:</label>
                    <select class="form-control" data-live-search="true"
                            ng-model="anuncio.CidadeId"
                            select-model="cidades"
                            ng-collection="cidades"
                            ng-options="item.Id as item.Nome for item in cidades"
                            data-selectpicker data-style="btn btn-default btn-sm"
                            ng-change="carregarBairros()">
                        <option value="">Selecione...</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="panel panel-warning" ng-show="anuncio.CidadeId && bairros.length">
            <div class="panel-body">
                <div class="form-group">
                    <label>Bairro de:</label>
                    <select class="form-control" data-live-search="true"
                            ng-model="anuncio.BairroIds"
                            select-model="bairros"
                            ng-collection="bairros" multiple
                            ng-options="item.Id as item.Nome for item in bairros"
                            data-selectpicker data-style="btn btn-default btn-sm">
                    </select>
                </div>
                <div class="form-group" ng-show="anuncio.BairroIds.length">
                    <label class="label label-primary" ng-repeat="bairroId in anuncio.BairroIds">{{obterBairro(bairroId)}}</label>
                </div>
            </div>
        </div>

        <h4>Quanto custa a palestra?</h4>
        <div class="panel panel-warning">
            <div class="panel-body">
                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" name="custoPalestra" ng-model="anuncio.TipoCusto" ng-value="0" />
                            Gratuita
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 form-group">
                        <div class="radio">
                            <label>
                                <input type="radio" name="custoPalestra" ng-model="anuncio.TipoCusto" ng-value="1" />
                                R$:
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6 form-group" ng-show="anuncio.TipoCusto == 1">
                        <input type="number" class="form-control input-sm" />
                    </div>
                </div>
            </div>
        </div>

        <h4>Palavras Chave</h4>
        <div class="panel panel-warning">
            <div class="panel-body">
                <div class="form-group">
                    <tags-input ng-model="anuncio.Tags"
                                placeholder="Informe as palavras-chave para consulta do anúncio (pressione ENTER por palavra)"
                                replace-spaces-with-dashes="false"
                                display-property="Palavra">
                        <auto-complete source="loadTags($query)" min-length="3"></auto-complete>
                    </tags-input>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 form-group">
                <button class="btn btn-warning" type="button" ng-click="voltar()">
                    <i class="fa fa-arrow-circle-left"></i>
                    Anterior
                </button>
            </div>
            <div class="col-md-6 form-group text-right">
                <button class="btn btn-warning" ng-click="gravar();">
                    Finalizar
                    <i class="fa fa-check-circle pull-right"></i>
                </button>
            </div>
        </div>
    </div>
</form>