<div class="row palestra-corporativa-header">
    <img src="../Content/images/corporativa-icon.png" class="aulas-icon" alt="" />
    <p>
        Comece preenchendo esses 3 itens, se tiver dúvidas sobre o preenchimento ou quiser ver exemplos,
        <label class="label label-primary" style="background-color: #999933">clique no "?"</label>
    </p>
    <img src="../Content/images/coruja.png" class="coruja-icon" alt="" />
</div>

<form novalidate ng-submit="avancar()">
    <div class="form-group">
        <h4>Qual a disponibilidade de horários para ministrar as palestras?</h4>
        <div class="panel panel-warning">
            <div class="panel-body">
                <div class="form-group">
                    <div class="checkbox-inline">
                        <label>
                            <input type="checkbox" ng-model="anuncio.DiasUteis" />
                            Dias Úteis (2º a 6º feira)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <!--<div range-slider min="0" max="1439" model-min="anuncio.DiaUtilInicio" model-max="anuncio.DiaUtilFim" disabled="!anuncio.DiasUteis"></div>-->
                    <slider ng-model="anuncio.DiaUtil" min="0" step="5" max="1439" value="[0,0]" range="true" ticks="[0, 360, 720, 1080, 1439]" ticks-labels="['00:00', '6:00', '12:00', '18:00', '23:59']"
                            formatter="slideOptions.formatter" ng-disabled="!anuncio.DiasUteis" tooltip="hide"></slider>
                    <label class="label label-primary">Das {{formatarHora(anuncio.DiaUtil[0])}} até {{formatarHora(anuncio.DiaUtil[1])}}</label>
                </div>
            </div>
        </div>

        <div class="panel panel-warning">
            <div class="panel-body">
                <div class="form-group">
                    <div class="checkbox-inline">
                        <label>
                            <input type="checkbox" ng-model="anuncio.FinsDeSemanaEFeriados" />
                            Finais de semana e feriados
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <!--<div range-slider min="0" max="1439" model-min="anuncio.FimDeSemanaFeriadoInicio" model-max="anuncio.FimDeSemanaFeriadoFim" disabled="!anuncio.FinsDeSemanaEFeriados"></div>-->
                    <slider ng-model="anuncio.FimDeSemanaFeriado" min="0" step="5" max="1439" value="[0,0]" range="true" ticks="[0, 360, 720, 1080, 1439]" ticks-labels="['00:00', '6:00', '12:00', '18:00', '23:59']"
                            formatter="slideOptions.formatter" ng-disabled="!anuncio.FinsDeSemanaEFeriados" tooltip="hide"></slider>
                    <label class="label label-primary">Das {{formatarHora(anuncio.FimDeSemanaFeriado[0])}} até {{formatarHora(anuncio.FimDeSemanaFeriado[1])}}</label>
                </div>
            </div>
        </div>

        <div class="panel panel-warning">
            <div class="panel-body">
                <div class="form-group">
                    <div class="checkbox-inline">
                        <label>
                            <input type="checkbox" ng-model="anuncio.ACombinar" />
                            À combinar
                        </label>
                    </div>
                </div>
                <label></label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            <button class="btn btn-warning" type="button" ng-click="voltar()">
                <i class="fa fa-arrow-circle-left"></i>
                Anterior
            </button>
        </div>
        <div class="col-md-6 form-group text-right">
            <button class="btn btn-warning">
                Avançar
                <i class="fa fa-arrow-circle-right pull-right"></i>
            </button>
        </div>
    </div>
</form>