<div class="row palestra-corporativa-header">
    <img src="../Content/images/corporativa-icon.png" class="aulas-icon" alt="" />
    <p>
        Comece preenchendo esses 3 itens, se tiver dúvidas sobre o preenchimento ou quiser ver exemplos,
        <label class="label label-primary" style="background-color: #999933">clique no "?"</label>
    </p>
    <img src="../Content/images/coruja.png" class="coruja-icon" alt="" />
</div>

<form name="formAnuncio1" novalidate ng-submit="avancar()">
    <div class="form-group">
        <label>Tema/Assunto/Título:</label>
        <div class="input-group">
            <input type="text" class="form-control" ng-model="anuncio.Titulo" required />
            <span class="input-group-btn">
                <button class="btn btn-default" style="background-color: #999933; color: #FFFFFF; font-weight: bold">
                    ?
                </button>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label>Descrição detalhada sobre o que é exposto:</label>
        <div class="input-group">
            <textarea class="form-control" rows="4" ng-model="anuncio.Descricao" required></textarea>
            <span class="input-group-addon btn btn-primary" style="background-color: #999933; color: #FFFFFF; font-weight: bold">
                ?
            </span>
        </div>
    </div>

    <div class="form-group">
        <label>Observações:</label>
        <div class="input-group">
            <textarea class="form-control" rows="4" ng-model="anuncio.Observacoes"></textarea>
            <span class="input-group-addon btn btn-primary" style="background-color: #999933; color: #FFFFFF; font-weight: bold">
                ?
            </span>
        </div>
    </div>

    <div class="form-group">
        <label>Qual a formação/experiência do palestrante sobre o assunto?</label>
        <div class="input-group">
            <textarea class="form-control" rows="10" ng-model="anuncio.Experiencia"></textarea>
            <span class="input-group-addon btn btn-primary" style="background-color: #999933; color: #FFFFFF; font-weight: bold">
                ?
            </span>
        </div>
    </div>

    <div class="form-group text-right">
        <button class="btn btn-warning">
            Avançar
            <i class="fa fa-arrow-circle-right pull-right"></i>
        </button>
        <!--<a class="btn btn-warning" href="#/proximo">
            
        </a>-->
    </div>
</form>