@model PortalConhecimento.UI.Web.ViewModels.LoginViewModel

<div class="row header">
    <div class="col-xs-6 marca"></div>
    <div class="col-xs-6">@Html.Partial("_LoginPartial", Model)</div>
</div>
<div class="row bottom-space">
    <ul id="menu" class="anonymous-menu center-block">
        <li><a href="#" class="corporate"></a></li>
        <li><a href="#" class="aulas"></a></li>
        <li><a href="@Url.Action("Index", "FAQ")" class="duvidas"></a></li>
        <li><a href="@Url.Action("Index", "FaleConosco")" class="fale-conosco"></a></li>
    </ul>
</div>