
@{
    ViewBag.Title = "Cadastro";
}
<div ng-app="AnuncioApp">
    <div ng-view></div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/ng-tags-input")
    @Scripts.Render("~/bundles/apps/anuncio-app")
}