@{
    ViewBag.Title = "Index";
}

<div class="row palestra-corporativa-header">
    <img src="~/Content/images/corporativa-icon.png" class="aulas-icon" alt="" />
    <a href="@Url.Action("Cadastro", "PalestrasCorporativas")" class="link-oferecer-palestra">
        <img src="~/Content/images/oferecer-palestras-icon.png" alt="" />
        Conheço um assunto e quero oferecer palestras
    </a>

    <a href="#" class="link-procura-palestra">
        <img src="~/Content/images/procura-palestras.png" alt="" />
        Estou procurando palestras
    </a>
</div>

<div class="row" style="padding: 30px;">
    <div class="col-md-12">
        <p>
            O Portal do Conhecimento serve para difundir o conhecimento através das pessoas.
            <br />
            Se você sabe algo, certamente alguém quer aprender com você.
            <br />
            Se você precisa ssaber mais sobre algum assunto, basta encontrar alguém que possa te ajudar. E essa pessoa pode estar aqui,
            <br />
            no Portal do Conhecimento.
            <br />
            Pessoas precisam ou fazem PALESTRAS CORPORATIVAS
        </p>
        <p>
            Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
        </p>
        <p>
            Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
            Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
        </p>
    </div>
</div>
