@model PortalConhecimento.UI.Web.ViewModels.LoginViewModel

@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Conta Criada com Sucesso";
}

<div class="alert alert-success">
    <h4>Conta Criada com Sucesso</h4>
    <p>Verifique o seu e-mail para ativar a sua conta.</p>
</div>