body {
    background: url("images/bg.jpg") repeat;
}

.header {
    background: url("images/bgTopo.jpg") no-repeat;
    height: 132px;
}

.container {
    background-color: #fff;
    width: 981px !important;
    max-width: none;
}

.validation-summary-valid {
    display: none;
}

.bottom-space {
    margin-bottom: 5px;
}

.triple-bottom-space {
    margin-bottom: 15px;
}

.hexa-bottom-space {
    margin-bottom: 30px;
}

.top-banner {
    background-color: #013300;
    height: 19px;
}

.marca {
    background: url("images/marca.png") no-repeat;
    height: 109px;
    margin-left: 20px;
    width: 470px;
}

.rodape {
    background: url("images/rodape.jpg") no-repeat;
    height: 44px;
}

/*#region MENU */

#menu {
    list-style: none;
    min-width: 700px;
}

.anonymous-menu {
    width: 800px;
}

    #menu li {
        float: left;
        margin-left: 3px;
        margin-right: 3px;
        display: inline;
    }

    #menu li > a {
        width: 170px;
        height: 53px;
        display: inline-block;
    }

.corporate {
    background:url('images/menu-icons.png');
    background-position: 0 -378px;
}

    .corporate:hover {
        background-position: 0 -442px;
    }

.aulas {
    background:url('images/menu-icons.png');
    background-position: 0 0;
}

    .aulas:hover {
        background-position: 0 -63px;
    }

.registros {
    background:url('images/menu-icons.png');
    background-position: 0 -252px;
}

    .registros:hover {
        background-position: 0 -315px;
    }

.duvidas {
    background:url('images/menu-icons.png');
    background-position: 0 -506px;
}

    .duvidas:hover {
        background-position: 0 -569px;
    }

.fale-conosco {
    background:url('images/menu-icons.png');
    background-position: 0 -126px;
}

    .fale-conosco:hover {
        background-position: 0 -189px;
    }

/*#endregion */

.depoimentos {
    width: 723px;
    margin-left: auto;
    margin-right: auto;
}

.depoimento {
    height: 167px;
    border: solid #c2c1c1  1px;
}

.depoimento-imagem {
    max-width: 102px;
    max-height: 165px;
}

.foto {
    width: 102px;
    float: left;
}

.texto {
    width: 220px;
    float: right;
}