@{
    ViewBag.Title = "Index";
}
<div class="row top-banner"></div>
<div class="row">
    <div id="carousel-example-generic" class="carousel slide bottom-space" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Content/images/banner_home01.jpg" alt="..." />
            </div>
            <div class="item">
                <img src="~/Content/images/banner_home02.jpg" alt="..." />
            </div>
            <div class="item">
                <img src="~/Content/images/banner_home03.jpg" alt="..." />
            </div>
        </div>
    </div>
    <div class="row bottom-space">
        <div class="col-lg-12 text-center">
            <img src="~/Content/images/banner_publiciHome01.jpg" alt="" />
        </div>
    </div>
    <div class="row text-center">
        <h4>Depoimentos</h4>
        <div class="depoimentos">
            <div class="row bottom-space">
                <div class="col-xs-6">
                    <div class="depoimento">
                        <div class="foto">
                            <img src="~/Content/images/fotoDepoimento.jpg" alt="" class="depoimento-imagem" />
                        </div>
                        <div class="texto">
                            <dl class="text-left">
                                <dt>Empresa/Cliente</dt>
                                <dd>Sit amet, consectetur</dd>
                                <dt>Depoimento</dt>
                                <dd>Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu elit dolor, placerat.</dd>
                                <dt><a href="#">Saiba mais</a></dt>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="depoimento">
                        <div class="foto">
                            <img src="~/Content/images/fotoDepoimento.jpg" alt="" class="depoimento-imagem" />
                        </div>
                        <div class="texto">
                            <dl class="text-left">
                                <dt>Empresa/Cliente</dt>
                                <dd>Sit amet, consectetur</dd>
                                <dt>Depoimento</dt>
                                <dd>Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu elit dolor, placerat.</dd>
                                <dt><a href="#">Saiba mais</a></dt>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row bottom-space">
                <div class="col-xs-6">
                    <div class="depoimento">
                        <div class="foto">
                            <img src="~/Content/images/fotoDepoimento.jpg" alt="" class="depoimento-imagem" />
                        </div>
                        <div class="texto">
                            <dl class="text-left">
                                <dt>Empresa/Cliente</dt>
                                <dd>Sit amet, consectetur</dd>
                                <dt>Depoimento</dt>
                                <dd>Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu elit dolor, placerat.</dd>
                                <dt><a href="#">Saiba mais</a></dt>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="depoimento">
                        <div class="foto">
                            <img src="~/Content/images/fotoDepoimento.jpg" alt="" class="depoimento-imagem" />
                        </div>
                        <div class="texto">
                            <dl class="text-left">
                                <dt>Empresa/Cliente</dt>
                                <dd>Sit amet, consectetur</dd>
                                <dt>Depoimento</dt>
                                <dd>Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu elit dolor, placerat.</dd>
                                <dt><a href="#">Saiba mais</a></dt>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
    <div class="row">
        <div class="col-lg-12 text-center triple-bottom-space">
            <img src="~/Content/images/banner_publiciHome02.jpg" alt="" />
        </div>
    </div>
    <div class="row hexa-bottom-space">
        <h4 style="margin-left: 55px;">Conheça nosso Método de Trabalho</h4>
        <div class="col-lg-12 text-center triple-bottom-space">
            <img src="~/Content/images/box_conhecaMetodo.jpg" alt="" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center bottom-space">
            <a href="#">Anuncie aqui no Portal do Conhecimento</a> | <a href="#">Acompanhe nossas novidades</a> | <a href="#">Assine a nossa Newsletter</a>
        </div>
    </div>
</div>

<div class="modal fade" id="modalOk" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border: solid #faa61a; background-color: #e0e0e0; color: #cc9900; font-size: 16pt; font-weight: bold">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">CADASTRO EFETUADO COM SUCESSO!</h4>
            </div>
            <div class="modal-body">
                <p class="text-center" style="margin-top: 10px; margin-bottom: 10px">
                    Parabéns!
                </p>
                <p class="text-center" style="margin-top: 10px; margin-bottom: 10px">Seu cadastro está completo.</p>
                <p class="text-center" style="margin-top: 10px; margin-bottom: 10px">Boa sorte e aproveite!</p>
                <div>
                    <img src="~/Content/images/icon-ok-palestra.png" alt="" class="img img-responsive center-block" />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        object message;
        TempData.TryGetValue("Message", out message);
    }

    @if (message != null)
    {
        <script>
            $(function () {
                toastr.info('@message.ToString()', "Mensagem Enviada com Sucesso!");
            });
        </script>
    }

    @if (ViewBag.CadastroOk != null && ViewBag.CadastroOk == true)
    {
        <script>
            $(function () {
                $("#modalOk").modal();
            });
        </script>
    }
}